<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010399320425-98d04qv80bfve5fg1sem64a6eq3j64h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010399320425-98d04qv80bfve5fg1sem64a6eq3j64h5</string>
	<key>API_KEY</key>
	<string>AIzaSyABsmy6rSPljpgbP6i1_18jtAPwm2GTbBY</string>
	<key>GCM_SENDER_ID</key>
	<string>1010399320425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moodFresher</string>
	<key>PROJECT_ID</key>
	<string>mood-fresher</string>
	<key>STORAGE_BUCKET</key>
	<string>mood-fresher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010399320425:ios:7a8a8bdbfda565ce3f85f8</string>
</dict>
</plist>